<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/login/images/icons/favicon.ico" />
    <title>New Password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/signup/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!--The below CSS required to show the password progressbar-->
    <link rel="stylesheet" media="screen"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="/signup/css/style.css">
    <link rel="stylesheet" href="/css/errorMessages.css">
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                        <div id="errorMessage"></div>
                    <% if (errorMessage) {%>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <div class="signup-form">
                        <h2 class="form-title">Setup New Password</h2>
                        <form onsubmit="return validateUpdatePassword()" class="register-form" id="register-form" action="/newPassword" method="POST"
                            onsubmit="return ValidateNewPassword()">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <div class="form-group">
                                <label for="email"><i class="zmdi  zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="New Password" />
                                <span class="pwstrength_viewport_verdict" id="strength"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Confirm password" />
                            </div>
                            <div id="errorMessage"></div>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Update Password" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/pwstrength-bootstrap.min.js"></script>
    <script type="text/javascript">
    /*The below is used for showing progressbar of the password strength*/
        jQuery(document).ready(function () {
            "use strict";
            var options = {};
            options.ui = {
                container: "#pwd-container",
                showStatus: true,
                showProgressBar: true,
                viewports: {
                    verdict: ".pwstrength_viewport_verdict"
                }
            };

            $(':password').pwstrength(options);

        });
    </script>
    <script type="text/javascript" src="/js/validationForms.js"></script>
    <script src="/signup/js/main.js"></script>
</body>

</html>