<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/login/images/icons/favicon.ico" />
    <title>Password Reset</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/signup/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/signup/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/errorMessages.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <% if (errorMessage) {%>
                <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <div id="errorMessage"></div>
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Forgot Password?</h2>
                        <form class="register-form" id="register-form" action="/passwordReset" method="POST"
                            onsubmit="return validateRecaptcha()">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" />
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LeT85gUAAAAAHtu_hUPzSTA99yE7jpKvieKGRV1"></div>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Reset" />
                            </div>
                        </form>
                        <br>
                        <br>
                        <h4>Note:</h4>
                        <p>The instruction regarding how to reset password will be sent to your email adress.
                            Please do check your Spam folder if it didn't arrive.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/signup/vendor/jquery/jquery.min.js"></script>
    <script src="/signup/js/main.js"></script>
    <script src="/js/validationForms.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>